<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<view title="pet.title">
  <content has-header="true" padding="true">
<div class="list card">

  <div class="item item-avatar">
    <img src="img/drug-logo.jpg">
    <h2>{{ event.title }}</h2>
    <p>{{ event.starting_at }}</p>
  </div>

  <div class="item item-body">
    <p>
      {{ event.description }}
    </p>

    <a ng-repeat="presentation in presentations" class="item item-avatar" href="#">
      <img src="{{ presentation.speaker_avatar }}">
      <h2 class="no-margin">{{ presentation.title }}</h2>
      <p class="no-margin">{{ presentation.speaker_full_name }}</p>
    </a>

  </div>
</div>
  </content>

</view>
